template(name='nav')
    //- .ui.borderless.attached.big.menu.topnav
    //- a.toggle_sidebar.icon.item.sidebar_on
    //-     i.large.sidebar.icon
    if is_loading
        i.huge.loading.grey.yin.yang.icon
    else 
        a.ui.icon.circular.button.reset(href='/' title='home')
            +i name='yin-yang' classes='ui inline mini image'
    if currentUser
        unless logging_out
            //- a.ui.icon.item(href="/user/#{currentUser.username}/notifications"}}")
            //- a.icon.item(href="/user/#{currentUser.username}"}}")
            //-     i.big.mail.icon(class=mail_icon_class title="#{unread_count} Unread")
            a.ui.icon.circular.button(href="/user/#{currentUser.username}")
                i.user.icon
                | #{currentUser.username}
                | #{currentUser.karma}
        if logging_out
            i.large.loading.circle.notch.icon
        //- else
        //-     a#logout.ui.mobile.hidden.icon.item(href='#' title='Log Out')
        //-         i.sign.out.large.icon
    else
        a.ui.icon.circular.button(href='/login' title='login') 
            i.sign.in.large.icon



template(name='footer')
    .ui.fluid.basic.attached.segment.footer
        .ui.container.stackable.grid
            .eight.wide.column
                with currentUser
                    //- if is_dev
                    //-     +textarea_edit key='notes' direct=true
                    form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                        input(type='hidden', name='cmd', value='_s-xclick')
                        input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                        <input type="hidden" name="hosted_button_id" value="7SENHECABERS6" />
                        // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                        //- <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                        button.ui.large.icon.button(type='submit')
                            //- i.pied.piper.alternate.large.icon
                            +ismall name='donate'
                //- if is_dev    
                //-     //- with current_user
                //-     //-     +role_switcher
                //-     input.old_key(type='text' placeholder='old key')
                //-     input.new_key(type='text' placeholder='new key')
                //-     .ui.button.submit_rename submit
            .eight.wide.column
                //- unless currentUser
                //-     a.ui.big.basic.button(href='/login')
                //-         i.sign.in.icon
                //-         |login
                if is_eric
                    with currentUser
                        +role_switcher
                        //- +tribe_switcher
                else if is_dev
                    with currentUser
                        +role_switcher
        //- if is_user
        //-     .row
        //-         .ui.center.aligned.inverted.header
        //-             i.copyright.outline.icon
        //-             |


template(name='role_switcher')
    .ui.segment
        .ui.grey.inline.center.aligned.small.header 
            //- +i name='anonymous-mask'
            i.shield.icon(title='role switcher')
            |#{username} role switcher
        //- if is_eric
        //-     +user_array_element_toggle key='roles' value='dev' user=currentUser
        //- if current_user
        //-     with current_user
        //-         +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
        //- else if currentUser
        //-     with currentUser
        //- +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
        +user_array_element_toggle key='roles' value='dev' user=currentUser
        //- +user_array_element_toggle key='roles' value='user' user=currentUser
        //- +user_array_element_toggle key='roles' value='staff' user=currentUser
        //- +user_array_element_toggle key='roles' value='resident' user=currentUser
        //- +user_array_element_toggle key='roles' value='owner' user=currentUser
