template(name='user_layout')
    +nav
    with user_from_username_param
        .ui.padded.stackable.grid.global_container
            .row
                .four.wide.column
                    if image_id
                        img.ui.centered.circular.shadowed.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                        //- a.item(href="/user/#{user_from_username_param.username}/")
                    .ui.center.aligned.basic.segment
                        a(href="/user/#{user.username}")
                            h1.ui.large.center.aligned.header
                                | #{user.first_name}
                                | #{user.last_name}
                    .ui.center.aligned.small.grey.header
                        | #{user.tagline}
                    .ui.center.aligned.small.grey.header
                        | @#{user.username}    
                    .ui.small.header tags
                    each tags
                        .ui.basic.large.label #{this}    
                    if is_dev
                        a.ui.icon.button.item(href="/user/#{user_from_username_param.username}/edit" title='settings')
                            +i name='settings'
                    else if is_current_user
                        a.ui.icon.button.item(href="/user/#{user_from_username_param.username}/edit" title='settings')
                            +i name='settings'
                    .ui.icon.button.direct_message
                        +i name='new-message'
                        //- |direct message
                    if is_current_user
                        .ui.icon.button.logout(title='log out')
                            +ismall name='exit-sign'
                        a.ui.small.button.logout_other_clients(href="#")
                            |logout other clients
                    if is_admin
                        .ui.segment
                            .ui.grey.header 
                                //- +i name='user shield'
                                i.shield.icon
                                |roles
                            each roles
                                .ui.basic.label #{this}
                .twelve.wide.column.shadowed-box
                    //- a.ui.icon.button(href="/user/#{username}/notifications"}}" title='money')
                    //-      +i name='appointment-reminders'
                    +yield
    //- +footer 



    
    
template(name='user_array_element_toggle')
    .ui.circular.button.toggle_element(class=user_array_element_toggle_class)
        |#{value}

template(name='user_string_toggle')
    .ui.circular.button.toggle_element(class=user_string_element_toggle_class)
        |#{value}
