template(name='delta')
    .ui.stackable.padded.grid
        .row
            .four.wide.column.scrolling
                //- if is_admin
                //- .ui.inline.header
                //-     //- i.icon(class=icon)
                //-     //- +i name=icon
                //-     |posts
                unless is_loading
                    if currentUser
                        .ui.icon.large.circular.button.add_post(title="Add #{title}")
                            i.plus.large.icon
                        //- +i name='plus'
                    //- if can_edit
                        //- +edit_circular.button
                    //- if currentUser
                    //-     +user_list_toggle key='bookmark_ids' icon='bookmark' label='bookmark' color='red'
                    if current_delta
                        if is_dev
                            .ui.icon.large.button.print_delta(title='print session doc')
                                i.code.icon
                            .ui.reset.icon.button(title='reload session')
                                i.refresh.icon
                            .ui.delete_delta.icon.button(title='delete session')
                                i.trash.icon
                    else
                        .create_delta.ui.large.button(title='new session')
                            i.plus.icon
                            |session
                    if description
                        .ui.segment
                            |#{description}
                    //- if is_dev
                    //-     .ui.input
                    //-         input.import_subreddit(type='text' placeholder='import_subreddit')
                // |did: #{session_delta_id}
                div
                if sorted_facets.length
                    each sorted_facets
                        +facet
                else
                    unless is_loading
                        .ui.header no results from filter, click the yin yang to reset
            .ten.wide.column
                each current_delta.result_ids
                    +delta_result
                


template(name='facet')
    if filtering_res
        //- .ui.hidden.divider
        //- .ui.accordion
        //-     .active.title
        .ui.grey.inline.header 
            if icon
                //- i.small.icon(class=icon)
                +i name=icon classes='ui mini inline image'   
            if title
                |#{title}
            else 
                |#{key}
                //- i.dropdown.icon
            //- .active.content
        .ui.icon.small.transparent.input
            i.search.icon
            input.add_filter(type='text')
        //- div
        each filtering_res
            if name
                .selector.ui.large.compact.circular.button.toggle_selection(class=toggle_value_class)
                    strong #{name}
                    //- small #{cal_count} #{count}
                    //- if is_admin
            else
                .selector.ui.compact.button.toggle_selection(class=toggle_value_class)
                    strong [null]
                    //- small #{cal_count}
        .ui.hidden.divider

template(name='toggle_delta_config')
    if boolean_true
        .ui.grey.active.icon.button.disable_key(title=label)
            i.icon(class=icon)
            // | #{label}
    else
        .ui.icon.button.enable_key(title=label)
            i.icon(class=icon)
            // | #{label}



template(name='delta_result')
    with result 
        //- .ui.result.cloud.fluid.card(class=loading_class)
        .ui.result.segment(class=loading_class)
            //- if image_id
            //-     .four.wide.column
            //-         img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
            if body
                .f6 {{nl2br body}}
            //- +array_view key='tags' icon='tags' direct=true
            //- +array_view key='location_tags' label='location tags' icon='marker' direct=true
            //- +array_view key='date_tags' label='date tags' icon='posts' direct=true
            if youtube_id
                +youtube_view key='youtube_id' icon='youtube' direct=true
                .ui.hidden.divider
            +image_view key='image_id' direct=true
            +user_list_toggle key='bookmark_ids' icon='bookmark' label='bookmark' color='red'
            +voting
            if can_edit
                a.ui.large.icon.button(href="/post/#{_id}/edit" title='edit')
                    i.pencil.large.icon
                    //- |edit
            a.ui.icon.large.button(href="/post/#{_id}" title='view')
                i.right.chevron.large.icon
            if _author_id
                +author_info
            +creation_info
        //- +comments
            //- +jsonView json=this_data
                
                    
