template(name='user_about')
    //- +text_view key='address' label='address' icon='marker' direct=true
    //- +phone_view key='phone' label='phone' icon='phone' direct=true
    +text_view key='tagline' label='tag line' icon='signature' direct=true
    +array_view key='tags' label='tags' icon='tags' direct=true
    +array_view key='location_tags' label='location tags' icon='location' direct=true
    //- +text_view key='spirit_animal' label='spirit animal' icon='year-of-monkey' direct=true
    //- +link_view key='link' label='link' icon='link' direct=true






template(name='user_notifications')
    .ui.header 
        +i name='appointment-reminders'
        |notifications
